body {
	background-image: url('backgroundimg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
	margin: 0;
	padding: 0;
	
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
}

/*HEADER*/

.header {
	background-color: #665740;
	color: #e9e2d0;
	padding: 20px 0 15px 0;
	font-size: 20px;
	/*border: 1px solid #665740;*/
}

.icon {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
}

.icon p {
	display: inline-block;
}

.icon #logo {
	border: 3px solid #e9e2d0;
        border-radius: 50%;
	
	margin-right: 15px;
        padding: 5px;
}

.nav {
	display: inline-block;
	margin-left: 600px;
}

.nav li {
	display: inline-block;
	border-right: 2px solid #7d5d45;
	
	margin-left: 12px;
	padding-right: 12px; 
}

.nav {
	white-space: nowrap;
}

@media screen and (min-width: 300px ) and (max-width: 900px){
	.nav{
    	margin-left: 220px;
    }

    .icon {
    	margin-left: 0;
    }
}

.nav a {
	text-decoration: none;
	color: #e9e2d0;
}

.nav li a:hover {
	background-color: #7d5d45;
	box-shadow:0 2px 4px rgba(0,0,0,.5);
}

#noborder {
	border: none;
}

/*JUMBOTRON*/

.jumbotron {
	font-size: 25px;
}

.img {
	width: 150px;
	height: 150px;
	display: inline;
	
	border: 1px solid rgba(102, 87, 64, 0.5);
        border-radius: 50%;
	
        margin-left: 280px;
        margin-top: 260px;
        margin-right: -150px;
}

.descr {
	margin: 270px -80px 240px 180px;
}

.one {
	display: inline;
	background-color: rgba(102, 87, 64, 1);
	
	border: 1px solid rgba(102, 87, 64, 1);
	color: #e9e2d0;
	
	margin-top: 50px;
	margin-left: 125px;
	margin-bottom: -50px;
	padding: 5px 15px;
	
	font-family: 'Inconsolata', monospace;
	letter-spacing: 2px;
}

.about {
	float: right;
	
	background-color: #7d5d45;
	border: 1px solid #7d5d45;
	color: #e9e2d0;
	
	margin: -80px 180px 320px 270px;
	padding: 15px 20px;
}

/*MAIN*/

.title {
	   background-color: #6f9054;
           color: #e9e2d0;
	
	   margin: 40px 0;
	   padding: 40px 0 30px 0;
	
    	   font-family: 'Inconsolata', monospace; 
	   text-transform: uppercase;
           letter-spacing: 2px;
           text-align: center;
  	   /*border: 1px solid #6f9054;*/
}

.cs1 {
	width: 310px;
	height: 256px;
	
	background-color: #e9e2d0;
	border: 1px solid #e9e2d0;
	
	margin-left: 3px;
        margin-bottom: 55px;
        margin-right: 15px;
}

.cs {
	width: 285px;
	height: 196px;
	
	background-color: #5f5b56;
	color: #e9e2d0;
	
	margin-top: 0;
	margin-left: 11px;
	padding-top: 80px;
	
	font-size: 20px;
	text-align: center;
}

.cs1:before{
        content: "";
        display: block;
        width: 130px;
        height: 40px;
        position: relative;
        top: -15px;
        margin: auto;
        background: rgba(255,255,200,0.6);
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

.photo {
	width: 285px;
	height: 196px;
	
	margin-left: 11px;
}

/*MENU*/

.menu {
	background-color: #7d5d4f;
	/*border: 1px solid #7d5d4f;*/
}

.menu h3 {
	color: #e9e2d0;
	
	padding: 60px 0 30px 0;
	
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
	text-align: center;	
	letter-spacing: 2px;
}

/*form*/
form {
	margin-left: 120px;
	margin-top: 30px;
}

.form-control {
	width: 500px;
	height: 40px;
	
	border-radius: 0;
}

#exampleInputSubject1 {
	width: 700px;
}

#exampleInputMessage1 {
	width: 700px;
	
	margin-left: 120px;
	padding-top: 15px;
	padding-bottom: 200px;
}

.btn-default {
	background-color: #665740;
	border: 1px solid #665740;
	border-radius: 0;
        color: #ccc3b0;
	
	margin-left: 120px;
	margin-bottom: 30px;
	padding: 8px 12px;
	
	font-size: 18px;

}

/*.btn-default a {
	text-decoration: none;
}*/

/*SUPPORTING*/
.supporting {
	background-color: #6f9054;
	
        margin-bottom: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*border: 1px solid #6f9054;*/
}

.supporting h3 {
	color: #000000;
	
	margin-bottom: 20px;
	
	font-family: 'Inconsolata', monospace;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.social {
	margin-left: 100px;
}

/*FOOTER*/

.footer {
	background-color: #665740;
	color: #e9e2d0;
	
	font-size: 15px;
        /*border: 1px solid #665740;*/
}

.sp {
	display: block;
}

#rght {
	margin-right: 15px;
}

.copy {
	padding-top: 40px;
}

.site {
	text-decoration: none;
	color: #e9e2d0;
}

.pull-right {
	margin-right: -40px;
	margin-top: -30px;
}
